.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.searchBox{
  width:50%;
  margin-top:20px;
  text-align:center;
  margin-left: 20%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.doctorData{
  margin-top:20px;
  width:60%;
  margin-left:15%;
}

.mat-list .mat-list-item{
  height: 30px;
}

.chip
{
  float: left;
  width: 100px;
  padding: 5px;
}

.mat-chip-list-wrapper{
  float: left;
  width: 100px;

}