.example-form {
  min-width: 500px;
  max-width: 500px;
  width: 100%;
}

img {
  margin-left: 20px;
}

.example-full-width {
  width: 100%;
}

.example-stretched-tabs {
  max-width: 800px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

mat-spinner {
  margin: auto;
}

.modalClass {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.errormodalClass {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
span {
  font-size: bold !important;
}
.closeButton:hover {
  cursor: pointer;
  text-align: right;
}
