nav{
    font-size: 25px;
    color: black;
}
nav{
    padding-left: 20px;
}
div{
    padding-left:20px;
    padding-top: 10px;
}
  .example-container {
    width: 80%;
    height: 80%;
  }

  .main{
    width: 80%;
    height: 80%;
    
}

.head{
    font-size: 20px;
}

.male{
    padding-right: 100px;
}

.img{
    width: 150px ;
     height: 150px;
     margin-right: 50px;
}
.contain{
    padding-top: 80px;
}

