nav{
    font-size: 25px;
    color: black;
}
nav{
    padding-left: 20px;
}
div{
    padding-left:20px;
    padding-top: 10px;
}
.example-container {
    display: flex;
    flex-direction: column;
    width:100%;
  }
  
.main{
    width: 80%;
    height: 80%;
    
}

.head{
    font-size: 20px;
}
.contain{
    padding-top: 80px;
}