div{
    padding-left:20px;
    padding-top: 10px;
}
.example-container {
    display: flex;
    flex-direction: column;
    width:100%;
  }
 
  span{
      width:20%;
  }

 .select{
     width: 30%;
     padding: 10px;
 }

 .main{
     width: 80%;
     height: 80%;
     text-align: center;
 }
 .contain{
    padding-top: 80px;
}