.example-spacer {
  flex: 1 1 auto;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
a:link {
  text-decoration: none;
}

.anchorStyles:visited {
  text-decoration: none;
}

.anchorStyles:hover {
  text-decoration: none;
}

.anchorStyles:active {
  text-decoration: none;
}
